* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ececec;
  width: 100%;
  height: 160vh;
}

div.body-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.body-main div.header {
  width: 100%;
  height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(/images/banner.jpg);
  background-size: cover;
}

div.body-main div.header div.banner {
  height: 70%;
  width: 100%;
}

div.body-main div.header div.login {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

div.body-main div.header div.login button {
  padding-bottom: .5em;
}

div.body-main div.body-filters {
  width: 100%;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 100px;
}

div.body-main div.body-filters div.btn-filter {
  width: 40%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.body-main div.body-filters div.btn-filter div.icon-pizza {
  width: 15%;
  height: 90%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

div.body-main div.body-filters div.btn-filter div.icon-pizza img {
  width: 70%;
  height: 70%;
}

div.body-main div.body-filters div.btn-filter div.icon-sandwich {
  width: 15%;
  height: 90%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

div.body-main div.body-filters div.btn-filter div.icon-sandwich img {
  width: 70%;
  height: 70%;
}

div.body-main div.body-filters div.btn-filter div.icon-appetizer {
  width: 15%;
  height: 90%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

div.body-main div.body-filters div.btn-filter div.icon-appetizer img {
  width: 70%;
  height: 70%;
}

div.body-main div.body-filters div.btn-filter div.icon-beverage {
  width: 15%;
  height: 90%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

div.body-main div.body-filters div.btn-filter div.icon-beverage img {
  width: 70%;
  height: 70%;
}

div.body-main div.mainandbasket {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid gray;
}

div.body-main div.mainandbasket div.basket-body {
  width: 20%;
  height: 100%;
  background-color: #ffe8d7;
}

div.body-main div.mainandbasket div.allfood-body {
  width: 80%;
  height: 100%;
  border-left: 2px solid gray;
}

div.body-main div.mainandbasket div.allfood-body .ul-allfood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

div.body-main div.mainandbasket div.allfood-body .ul-allfood li {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.body-main div.mainandbasket div.allfood-body .ul-allfood li img {
  width: 70%;
  height: 70%;
  border-radius: 50%;
}
/*# sourceMappingURL=App.css.map */